@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
.core-header {
    font-size: 2.5em;
    color: white;
    text-align: center;
}

#core-main {
    background-color: #0e122b;
    padding: 10px;
}