.coreCard {
  max-width: 272px;
  max-height: 368px;
  transition: 0.5s;
  font-family: "Raleway";
  cursor:pointer;
}

.coreImage {
  margin:3%;
  width:250px;
  height:280px;
}

.coreIcon {
  opacity: 0;
}

.coreCard:hover .coreIcon {
  opacity: 1;
}

.coreCard:hover {
  max-height: 550px;
  transition: 0.5s;
  font-family: "Raleway";
}

.MuiButtonBase-root {
  background-color: #010a43;
  color: #ffffff;
  font-family: "Raleway";
}

@media (max-width: 1250px) {
  .coreGrid {
    padding-left: 0px;
    padding-right: 0px;
    font-family: "Raleway";
  }
}

@media (min-width: 1250px) {
  .coreGrid {
    padding-left: 80px;
    padding-right: 80px;
    font-family: "Raleway";
  }
}

.coreCard .coreName {
  font-family: "Raleway";
  font-size: 1.4em;
  margin-top: -1em;
}

.coreCard .coreRole {
  font-family: "Raleway";
  font-size: 1.3em;
}

#core-main {
  padding-bottom: 3%;
  background-color: #0e122b;
}

#core-header {
  font-size: 2.5em;
  padding-top: 80px;
  color: White;
}

#heads {
    padding-top: 3%;
}
