#c {
  /* position: fixed; */
  margin: 0;
  /* z-index: -100; */
  background: #0e122b;
  width: 100%;
  height: calc(100vh - 64px);
}

.ima1 {
  width: 25vw;
  margin: auto;
  position: absolute;
  /* top: 25%; */
  top: 25vh;
  left: 37%;
  z-index: 100;
  /* margin-left: -10vh; */
}

.ima2 {
  height: 10vh;
  position: absolute;
  top: 59vh;
  left: 50%;
  margin-left: -9vh;
}

#canvas_container {
  margin: 0 auto;
  position: static;
  background: #0e122b;
}

@media only screen and (max-width: 650px) {
  .ima1 {
    width: 60vw;
    margin: auto;
    position: absolute;
    /* top: 25%; */
    top: 32.5vh;
    left: 20%;
    /* z-index: 100; */
    /* margin-left: -10vh; */
  }
}
/* iPad*/

@media (min-height: 1000px) and (max-height: 1400px) {
  .ima1 {
    top: 25%;
    width: 40vw;
    left: 30vw;
  }
}

/* iPad Responsive */

/*@media (min-height:1100px) and (max-height:1200px) {
    .ima1 {
        top: 10%;
    }
    .ima2 {
        top: 37%;
    }
}*/

/*iPad Pro */

/*@media (min-height:1300px) and (max-height:1400px) {
    .ima1 {
        top: 8%;
    }
    .ima2 {
        top: 35%;
    }
}
*/

/* iPad Pro Responsive */

/*@media (min-height:1650px) and (max-height:1700px) {
    .ima1 {
        top: 4.5%;
    }
    .ima2 {
        top: 28.5%;
    }
}*/
