@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

.about-header {
  font-size: 2.5em;
  color: black;
  text-align: center;
}

.about-content {
  padding: 0 80px;
  font-family: "Raleway";
  line-height: 3;
  font-size: 1.1em;
}

@media only screen and (max-width: 600px) {
  .about-content {
    padding: 0 80px;
    font-family: "Raleway";
    line-height: 2.5;
  }
}
