.card {
    background: linear-gradient(90deg, #ffffff, #ffffff);
    /*#E2E2E2*/
    cursor: pointer;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    border-radius: 10px;
    min-width: 280px;
    max-width: 300px;
    max-height: 400px;
}

.card .image {
    overflow: hidden;
    transition: 0.5s;
}

.card .memberName {
    color: #000000;
    font-weight: 550;
    text-transform: capitalize;
    font-family: "Raleway";
}

.card:hover {
    transition: all 0.3s ease;
    opacity: 0.9;
}

.card:hover .image {
    transform: translateX(-10%);
}

.card .details {
    position: absolute;
    right: 10%;
    top: 18%;
    transition: 0.5s;
    transform-origin: center right;
    opacity: 0;
}

.card:hover .details {
    opacity: 1;
}

.linkedInIcon {
    transform: translate(-5%);
}

.githubIcon {
    transform: translate(28%);
}

.webIcon {
    transform: translate(-10%);
}

@media (min-width:1900px) {
    .card .linkedInIcon {
        transform: translate(-55%);
    }
    .githubIcon {
        transform: translate(-12%);
    }
    .webIcon {
        transform: translate(-62%);
    }
    /*.card .details {
        background-color: burlywood;
    }*/
}