#c {
  /* position: fixed; */
  margin: auto;
  /* z-index: -100; */
  background: black;
  /* width: 100%; */
}
.ima1 {
  height: 25vh;
  /* margin-top: 8%;
  margin-bottom: 2%; */
  z-index: 100;
  position: absolute;
}
/* .ima2{
  height:10vh;
} */

#canvas_container {
  display: inline-block;
  margin: 0 auto;
  position: relative;
}
