#c {
  /* position: fixed; */
  margin: 0;
  /* z-index: -100; */
  background: black;
  /* width: 100%; */
}
.ima1 {
  height: 25vh;
  position: absolute;
  top:25%;
  left: 50%;
  margin-left: -10vh;
}
.ima2{
  height:10vh;
  position: absolute;
  top:53%;
  left: 50%;
  margin-left: -9vh;
}

#canvas_container {
  margin: 0 auto;
  position: static;
  background-color: black;
}
