.maps-style {
  height: 80%;
  width: 80%;
  margin:auto;
  margin-top: 11%;
}

@media only screen and (max-width: 600px) {
  .maps-style {
    height: 50vh;
    width: 80%;
    margin: auto;
    margin-top: 25px;

  }
}