.footer-heading {
  font-size: 2em;
  padding-top: 80px;
  color: black;
}

.footer-main {
  padding-bottom: 3%;
}

.footer-main h1 {
  font-size: 3em;
  padding: 0;
}

.map-grid {
  text-align: center;
  margin: auto;
  justify-content: center;
}